.toprow{
	background-color: #E38686;
	min-height: 120px
}

.rightcol{
	background-color: #4B81EB;
	min-height: 10%
}

.midcol{
	background-color: #6BE16E;
	min-height: 80%
}

.colum{
}

.border{
	border-style: 
}